<section id="about" class="mg-top-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>À propos de <a href="">ReviZone</a></h1>
                <p style="text-align: justify">
                    <a href="">ReviZone</a> est un site web permettant aux élèves d'améliorer leurs notes et de <strong>progresser</strong> dans leur parcours scolaire. Chaque élève peut <strong>rédiger</strong> ses cours sur
                    <a href="">ReviZone</a> puis les apprendre très facilement grâce à nos outils, tel que la <strong>lecture audio</strong> pour les élèves ayant une mémoire auditive!
                        <br><strong>Retrouvez</strong> les cours d'un camarade directement en allant sur son <a href="#profil/aureleoules" target="_blank">profil</a> <strong>ReviZone</strong>.<br>
                        <strong>Suivez</strong> un élève pour obtenir ses cours plus simplement et rapidement !<br>
                        <br>
                        <a href="">ReviZone</a> a été entièrement dévelopé par <a href="http://aurele.oules.com">Aurèle Oulès</a>.
                </p>
            </div>
        </div>
    </div>
</section>
