<section id="classe" class="mg-top-40">
    <div class="container">
        <div class="row">
            <div class="col-md-8 well">
                <div class="comments ">
                    <div class="comment-wrap animated flipInX">
                        <div class="photo">
                            <div class="avatar" style="background-image: url('https://revizone.fr:8089/public/{{user.pseudo}}.png')"></div>
                        </div>
                        <div class="comment-block">
                            <textarea ng-model="post" class="comment-input" name="" id="" cols="30" rows="3" placeholder="Ajouter un commentaire..."></textarea>
                            <div class="item-cours"></div>
                            <div class="comment-publish-actions">
                                <a href="" class="small text-primary" ng-click="selectCours()">Lier un cours <i class="fa fa-paperclip"></i></a>
                                <span class="small" ng-show="coursSelected">
                                    <i>{{coursSelected.classe}} - {{coursSelected.matiere}}: {{coursSelected.titre}}</i>
                                    <a href="" style="color: inherit" ng-click="removeSelected()"><i class="fa fa-times"></i></a>
                                </span>
                                <a class="comment-publish" ng-click="sendFeed()" href="">Publier </a>
                            </div>
                        </div>
                    </div>
                    <div class="animated slideInUp">
                        <div ng-show="classeFeed.length > 0" class="comment-wrap" ng-repeat="post in classeFeed | orderBy:'-createdAt'">
                            <div class="photo">
                                <a href="#profil/{{post.auteur}}">
                                    <div class="avatar" style="background-image: url({{user.picture}})"></div>
                                </a>
                            </div>
                            <div class="comment-block">
                                <span style="float: right; font-size: 11px"><a href="" ng-if="post.auteur === user.pseudo" class="btn btn-danger btn-sm" style="padding: 4px 6px;" ng-click="removeComment(post._id)">Supprimer</a>  <a style="margin-left: 5px"href="#profil/{{post.auteur}}">@{{post.auteur}}</a></span>
                                <p class="comment-text">{{post.msg}}</p>
                                <span ng-if="post.cours"><i class="fa fa-paperclip"></i>
                                    <a class="small" href="#cours/{{post.cours._id}}">
                                        {{post.cours.classe}} - {{post.cours.matiere}}: {{post.cours.titre}}
                                    </a>
                                </span>
                                <div class="bottom-comment">
                                    <div class="comment-date">{{post.createdAtDate}}</div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="!classeFeed" class="">
                            <p class="text-center">Il n'y a aucun commentaire. <i class="fa fa-frown-o"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-push-1">
                <div class="panel panel-primary animated slideInUp">
                    <div class="panel-heading">
                        <h2 class="panel-title">Liste des élèves de ma <strong>classe</strong></h2>
                    </div>
                    <div class="panel-body">
                        <a ng-repeat="user in classe | orderBy:'name'" href="#profil/{{user.pseudo}}" class="list-group-item">{{user.name}} | <span class="text-success"><small>@{{user.pseudo}}</small></span></a>
                    </div>
                </div>
                <div class="panel panel-info animated slideInUp">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informations de ma <strong>classe</strong></h3>
                    </div>
                    <div class="panel-body">
                        <strong>Nom de l'établissement:</strong> {{etablissement.appellation_officielle}}
                        <br>
                        <strong>Situé à </strong> {{etablissement.localite_acheminement_uai.toLowerCase().charAt(0).toUpperCase()}}{{etablissement.localite_acheminement_uai.toLowerCase().slice(1)}}
                        <!--Make first letter of city uppercase-->
                        <br>
                        <strong>Classe:</strong> {{classe[0].scolaire.classe}} n°{{classe[0].scolaire.numero_classe}}
                        <br>
                        <strong>Elèves</strong>: {{classe.length}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
