<section id="exercer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well rounded border">
                    <div id="recherche" class="form-horizontal">
                        <h3 style="cursor: pointer">Rechercher des <strong>exercices</storng> <a ng-if="isAuthenticated === true" href="#exercice/creer" style="margin-left: 5px" class="btn btn-success btn-sm">Créer un exercice</a></h3>
                        <fieldset id="rechercheDiv">
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="classeInput">Classe:</label>
                                    <select class="form-control" id="classe" ng-model="classeInput" ng-options="classe for (classe, matiere) in programme">
                                <option value=''>Choisir</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="matiereInput">Matière</label>
                                    <select class="form-control" id="matiere" ng-disabled="!classeInput" ng-model="matiereInput" ng-options="matiere for (matiere, chapitre) in classeInput">
                                <option value=''>Choisir</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="chapitreInput">Chapitre</label>
                                    <select class="form-control" id="chapitre" ng-disabled="!classeInput || !matiereInput" ng-model="chapitreInput" ng-options="chapitre for chapitre in matiereInput">
                                <option value=''>Choisir</option>
                                </select>
                                </div>
                            </div>
                            <a style="width: 100%; margin-top: 20px; padding: 10px" class="btn btn-primary" href="" ng-click="rechercher()">Rechercher <i class="ico-r fa fa-search"></i></a>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
