<section>
    <div class="container">
        <div class="row" id="dataResult">
            <div class="col-md-9 col-sm-12 animated slideInLeft">
                <div ng-repeat="quiz in quizs track by $index">
                    <div class="col-md-12 well">
                        <p>{{quiz.question}} <a class="small" href="#profil/{{quiz.auteur}}">@{{quiz.auteur}}</a>
                            <span style="margin-left: 15px" ng-if="quiz.auteur == user.pseudo">
                                <button class="btn btn-danger btn-sm" style="padding: 4px 6px" ng-click="deleteQuiz($index)">Supprimer ce quiz <i class="fa fa-trash-o ico-r"></i></button>
                            </span>
                        </p>
                        <div class="form-group" ng-class="{'has-error': resultEx[$index].success == false, 'has-success': resultEx[$index].success == true}">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="$parent.reponse[$index]" placeholder="Votre réponse...">
                                <span class="input-group-btn">
                                      <button ng-hide="resultEx[$index]" class="btn btn-primary" type="button" ng-click="verify($index)">Vérifier</button>
                                      <button class="btn btn-success animated tada" ng-show="resultEx[$index].success == true">Succès! <i class="fa fa-check-circle-o"></i></button>
                                      <button class="btn btn-danger animated jello" ng-show="resultEx[$index].success == false">Échec! <i class="fa fa-times"></i></button>
                                 </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="quizs.length < 1 || !quizs">
                    <center>
                        <i class="fa fa-frown-o fa-5x"></i>
                        <h3>Il n'y a aucun exercice pour ce chapitre.</h3>
                        <a class="text-info" href="#exercice/creer ">Créez-en ! <i class="fa fa-smile-o"></i></a>
                        <center>
                </div>
            </div>
            <div class="col-md-3 col-sm-12" ng-hide="quizs.length < 1 || !quizs">
                <div class="panel panel-info animated slideInRight">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informations</h3>
                    </div>
                    <div class="panel-body">
                        Classe: <span class="text-info">{{quizs[0].classe}}</span>
                        <br> Matière: <span class="text-info">{{quizs[0].matiere}}</span>
                        <span ng-if="cours.chapitre !== null"><br> Chapitre: <span class="text-info">{{quizs[0].chapitre}}</span></span>
                        <br><a ng-show="user" href="#exercice/creer" class="btn btn-success">Créer un exercice <i class="fa fa-pencil ico-r"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
