<header id="header" ng-controller="AppCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Naviguer</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#accueil"><i class="fa fa-graduation-cap"></i> ReviZone</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#accueil">ACCUEIL <i class="fa fa-home ico-r"></i></a></li>
                    <li ng-show="isAuthenticated()"><a href="#rediger" class="text-success">RÉDIGER <i class="fa fa-pencil ico-r"></i></a></li>
                </ul>
                <a class="btn btn-default navbar-btn navbar-right" href="#/connexion" ng-hide="isAuthenticated()">SE CONNECTER</a>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="isAuthenticated()" class="dropdown">
                        <a href="" class="dropdown-toggle" id="nameHeader" data-toggle="dropdown" role="button" aria-expanded="false">{{userData.name | uppercase}} <img style="margin-top: -6px; margin-left: 3px" ng-src="https://revizone.fr:8089/public/{{userData.pseudo}}.png" height="28" width="28" class="img-circle"/>  <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#profil"><i class="fa fa-user-circle-o"></i> Profil</a></li>
                            <li><a href="#classe"><i class="fa fa-users"></i> Ma classe</a></li>
                            <li>
                                <center><button class="btn btn-danger" style="width: 95%" ng-click="logout()">Déconnexion</button></center>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" ng-submit="search()" role="search" name="searchbox" novalidate>
                    <div class="form-group">
                        <div class="btn-group desktop-only">
                            <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-sliders"></i></a>
                            <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
                                <li>
                                    <select style="padding-top: 15px" required class="form-control select select-primary select-block mbl" id="classe" ng-model="matieres" ng-options="classe for (classe, matiere) in programme track by classe">
                                        <option selected value=''>Classe</option>
                                    </select>
                                </li>
                                <li>
                                    <select required class="form-control select select-primary select-block mbl" id="matiere" ng-disabled="!matieres" ng-model="chapitres" ng-options="matiere for (matiere, chapitre) in matieres track by matiere">
                                            <option selected value=''>Matière</option>
                                        </select>
                                </li>
                                <li>
                                    <select style="padding-bottom: 15px" required class="form-control select select-primary select-block mbl" id="chapitre" ng-disabled="!chapitres || !matieres" ng-model="chapitre" ng-options="chapitre for chapitre in chapitres track by chapitre">
                                            <option selected value=''>Chapitre</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                        <div class="input-group">
                            <input class="form-control" ng-model="search.keywords" id="navbarInput-01" type="search" placeholder="Rechercher...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" id="check"><span class="fui-search"></span></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
<script type="text/javascript">
    $('.input-group').on('focus', '.form-control', function() {
        $(this).closest('.input-group, .form-group').addClass('focus');
    }).on('blur', '.form-control', function() {
        $(this).closest('.input-group, .form-group').removeClass('focus');
    });
    $(document).on('click', '.navbar-collapse.in', function(e) {
        if ($(e.target).is('a')) {
            $(this).collapse('hide');
        }
    });
    $("select").select2();
</script>
