<section id="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Naviguer</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-graduation-cap"></i> ReviZone</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#home">Accueil</a></li>
                    <li><a href="#">Comment ça marche ?</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Matières <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Histoire</a></li>
                            <li><a href="#">Géographie</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Mathematiques</a></li>
                            <li><a href="#">Physique Chimie</a></li>
                            <li><a href="#">SVT</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Français</a></li>
                            <li><a href="#">Anglais</a></li>
                            <li><a href="#">Espagnol</a></li>
                            <li><a href="#">Allemand</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#register" class="btn btn-primary">S'INSCRIRE</a></li>
                    <li><a href="#login" class="btn btn-default">SE CONNECTER</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
