<section id="register" class="mg-top-40">
    <div class="container">
        <div class="row">
            <!-- <div id="infosperso" class="form-horizontal">
                <div class="col-md-4 col-md-offset-4">
                    <div class="well border rounded animated flipInY">
                        <form class="" ng-submit="login()">
                            <fieldset>
                                <h2>Connexion</h2>
                                <div class="form-group has-primary">
                                    <div class="col-md-12">
                                        <label for="inputPrenom">Pseudo:</label>
                                        <input autocomplete="off" type="text" class="form-control" ng-model="user.pseudo" id="inputNom" placeholder="Pseudo" required>
                                    </div>
                                </div>

                                <div class="form-group has-primary">
                                    <div class="col-md-12">
                                        <label for="inputPrenom">Mot de passe:</label>
                                        <input autocomplete="off" type="password" class="form-control" ng-model="user.password" id="inputNom" placeholder="Mot de passe" required>
                                    </div>
                                </div>
                                <div class="form-group has-primary">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary" style="width: 100%; margin-top: 10px" value="Se connecter"/>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div> -->
            <div class="col-md-6 col-center-block col-sm-12">
                <form ng-submit="login()">
                    <div class="login-form" style="margin-top: 25%">
                        <h3 class="text-primary">Connexion</h3>
                        <div class="form-group">
                            <input type="text" class="form-control login-field" value="" ng-model="user.pseudo" placeholder="Pseudo ou email" id="login-name">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control login-field" value="" ng-model="user.password" placeholder="Mot de passe" id="login-pass">
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="login()" href="">Se connecter</button>
                        <center>
                            <a class="login-link" href="#/inscription">Pas d'identifiant ReviZone?</a>
                            <a class="login-link" href="#/mdp">Mot de passe perdu?</a>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
