<section id="new">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1>Rédiger un cours</h1>
            </div>
        </div>
        <form name="nouveauForm">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="form-group has-primary">
                        <label for="classe" class="col-lg-2 control-label">Classe</label>
                        <select class="form-control" id="classe" ng-model="matieres" ng-options="classe for (classe, matiere) in programme">
                        <option value=''>Choisir</option>
                </select>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="form-group has-primary">

                        <label for="matiere" class="col-lg-2 control-label">Matière</label>
                        <select class="form-control" id="matiere" ng-disabled="!matieres" ng-model="chapitres" ng-options="matiere for (matiere, chapitre) in matieres">
                <option value=''>Choisir</option>
                </select>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="form-group has-primary">
                        <label for="chapitre" class="col-lg-2 control-label">Chapitre</label>
                        <select class="form-control" id="chapitre" ng-disabled="!chapitres || !matieres" ng-model="chapitre" ng-options="chapitre for chapitre in chapitres">
                            <option value=''>Choisir</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="form-group has-primary">
                        <label for="titre" class="col-lg-12 control-label">Sous-titre <small>(facultatif)</small></label>
                        <input type="text" class="form-control" id="titre" placeholder="Sous-titre de la leçon" ng-model="titre">
                    </div>
                </div>
            </div>

            <!-- Create the toolbar container -->
            <div style="background-color: #fff; color: #2c3e50; margin: 10px 0 10px">
                <div class="row">
                    <div class="col-md-12">
                        <div id="editor-container" style="height: 500px;  resize: vertical; overflow-x: hidden;"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <a style="margin: 0 5px 5px 0" href="" ng-click="save()" class="btn btn-primary">Enregistrer</a>
                <a style="margin: 0 5px 5px 0" href="" ng-click="save('quit')" class="btn btn-primary">Enregistrer et quitter</a>
                <a style="margin: 0 5px 5px 0" href="" ng-click="quit()" class="btn btn-danger">Quitter sans enregistrer</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block', 'image', 'formula'],
            [{
                'list': 'ordered'
            }, {
                'list': 'bullet'
            }], // superscript/subscript
            [{
                'direction': 'rtl'
            }],
            [{
                'font': []
            }], // custom dropdown
            [{
                'header': [1, 2, 3, 4, 5, 6, false]
            }],

            [{
                'color': []
            }, {
                'background': []
            }], // dropdown with defaults from theme

            [{
                'align': []
            }],
            [{
                'script': 'sub'
            }, {
                'script': 'super'
            }]
        ];
        var quill = new Quill('#editor-container', {
            modules: {
                formula: true,
                toolbar: toolbarOptions
            },
            placeholder: 'Ecris ton cours...',
            theme: 'snow' // or 'bubble'
        });
        $('.ql-toolbar').append(`<a style="color: inherit" ng-click="fromPicture()" href="">Depuis une image</a><input ng-file-select="onFileSelect($files)" type="file" id="file" name="file" accept="image/x-png,image/gif,image/jpeg" style="visibility: hidden; width: 1px; height: 1px" />`)
    </script>
</section>
