<section id="profile" class="mg-top-40">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-primary rounded">
                    <div class="panel-heading rounded-top">
                        <h2 class="panel-title"><b>Classeur</b> de {{user.name}}</h2>
                    </div>
                    <div class="panel-body">
                        <div ng-hide="listCours.length < 1">
                            <a ng-repeat="item in listCours | orderBy:'createdAt'" href="#cours/{{item._id}}" class="list-group-item"><span class="badge">Lu {{item.lectures}} fois</span><span class="label label-primary">{{item.classe}}</span> : <span class=""><b>{{item.matiere}}</b>  -  {{item.chapitre}}</span></a>
                        </div>
                        <div ng-show="listCours.length < 1">
                            <center> <i class="fa fa-frown-o fa-3x"></i>
                                <p>Aucun cours rédigé par <a class="text-info" href="#/profil/{{user.pseudo}}">@{{user.pseudo}}</a>.</p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-push-1">
                <!-- <div class="panel panel-info rounded">
                    <div class="panel-heading rounded-top">
                        <h3 class="panel-title">@{{user.pseudo}}</h3>
                    </div>
                    <img src="{{imageSrc}}">
                    <div class="panel-body">
                        <p>
                            <b>Cours rédigés</b>: {{listCours.length}}
                            <br>
                            <b>Classe:</b> {{user.scolaire.classe}}
                            <br>
                            <b>Etudie au</b> {{etablissement.appellation_officielle}} <b>à</b> {{etablissement.localite_acheminement_uai.toLowerCase().charAt(0).toUpperCase()}}{{etablissement.localite_acheminement_uai.toLowerCase().slice(1)}}
                            Make first letter of city uppercase
                            <br>
                            <b>Lectures sur ses cours:</b> {{lecturesTotal}}
                        </p>$
                    -->
                        <!-- <div ng-show="isAuthenticated">
                            <a ng-if="!isFollowed" class="label label-primary" href="" ng-click="follow()">Suivre @{{user.pseudo}}</a>
                            <a ng-if="isFollowed" class="label label-danger" href="" ng-click="unfollow()">Ne plus suivre @{{user.pseudo}}</a>
                        </div>
                    </div>
                </div> -->
                <div class="twPc-div">
                    <a class="twPc-bg twPc-block"></a>

                    <div>
                        <div class="twPc-button">
                            <div ng-show="isAuthenticated">
                                <a ng-if="!isFollowed" class="label label-primary followBtn" href="" ng-click="follow()">Suivre @{{user.pseudo}}</a>
                                <a ng-if="isFollowed" class="label label-danger followBtn" href="" ng-click="unfollow()">Ne plus suivre @{{user.pseudo}}</a>
                            </div>
                        </div>

                        <a href="https://twitter.com/mertskaplan" class="twPc-avatarLink">
                            <img src="{{imageSrc}}" class="twPc-avatarImg">
                        </a>

                        <div class="twPc-divUser">
                            <div class="twPc-divName">
                                <a href="#profil/#{{user.pseudo}}">{{user.name}}</a>
                            </div>
                            <span>
				<a href="#profil/{{user.pseudo}}">@{{user.pseudo}}</a>
                            </span>
                        </div>

                        <div class="twPc-divStats">
                            <ul class="twPc-Arrange">
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="https://twitter.com/mertskaplan" title="9.840 Tweet">
                                        <span class="twPc-StatLabel twPc-block">Cours</span>
                                        <span class="twPc-StatValue">{{listCours.length}}</span>
                                    </a>
                                </li>
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="https://twitter.com/mertskaplan/following" title="885 Following">
                                        <span class="twPc-StatLabel twPc-block">Lectures</span>
                                        <span class="twPc-StatValue">{{lecturesTotal}}</span>
                                    </a>
                                </li>
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="https://twitter.com/mertskaplan/followers" title="1.810 Followers">
                                        <span class="twPc-StatLabel twPc-block">Note moyenne</span>
                                        <span class="twPc-StatValue">4.5/5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
