<section id="profile" class="mg-top-40">
    <div class="container">
        <div class="row">
            <div class="col-md-7 animated fadeIn">
                <div class="panel panel-inverse ">
                    <div class="panel-heading">
                        <h2 class="panel-title"><b>Classeur</b> de {{profile.name}}</h2>
                    </div>
                    <div class="btn-group btn-group-justified" ng-hide="listCours.length < 1">
                        <a ng-hide="!matieresList" href="" ng-click="selectMatiere('all')" class="btn btn-inverse" ng-class="{active: selectedMatiere === 'all'}"style="border-radius: 0px">Tous</a>
                        <a href="" ng-click="selectMatiere($index)" ng-repeat="matiere in matieresList" ng-class="{active: $index === selectedMatiere}" class="btn btn-inverse" id="btn{{matiere}}" style="border-radius: 0px">{{matiere}}</a>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px">
                        <div ng-hide="listCours.length < 1">
                            <a ng-repeat="item in coursArray | orderBy:'-createdAt'" href="#cours/{{item._id}}" class="list-group-item"><span class="badge btn-inverse">Lu {{item.lectures}} fois</span><span class="label label-inverse">{{item.classe}}</span> : <span class=""><b>{{item.matiere}}</b>  -  {{item.titre}} <i ng-if="item.public == false" class="fa fa-lock ico-r"></i><br><i>{{item.chapitre}}</i></span></a>

                        </div>
                        <div ng-show="listCours.length < 1">
                            <center> <i class="fa fa-frown-o fa-3x"></i>
                                <p>Aucun cours rédigé par <a class="text-info" href="#/profil/{{profile.pseudo}}">@{{profile.pseudo}}</a>.</p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-push-1">
                <div class="twPc-div animated flipInY">
                    <a class="twPc-bg twPc-block"></a>
                    <div class="twPc-button">
                        <div ng-show="isAuthenticated">
                            <div ng-hide="profile.pseudo === user.pseudo">
                                <a ng-if="!isFollowed" class="label label-info followBtn" href="" ng-click="follow()">Suivre @{{profile.pseudo}}</a>
                                <a ng-if="isFollowed" class="label label-danger followBtn" href="" ng-click="unfollow()">Ne plus suivre @{{profile.pseudo}}</a>
                            </div>
                            <div ng-show="profile.pseudo === user.pseudo">
                                <a ng class="label label-info followBtn" href="" ng-click="edit()">Modifier mes informations</a>
                            </div>
                        </div>
                        <div ng-show="!isAuthenticated">
                            <a style="cursor: default;" data-toggle="tooltip" data-placement="top" title="Connectez-vous pour suivre @{{profile.pseudo}}" class="label label-info followBtn" href="">Suivre @{{profile.pseudo}}</a>
                        </div>
                    </div>

                    <a href="" class="twPc-avatarLink">
                        <img src="https://revizone.fr:8089/public/{{profile.pseudo}}.png" class="twPc-avatarImg">
                    </a>
                    <div class="">

                        <div class="twPc-divUser">
                            <div class="twPc-divName">
                                <a href="#profil/{{profile.pseudo}}">{{profile.name}}</a>
                            </div>
                            <a href="#profil/{{profile.pseudo}}">@{{profile.pseudo}}</a>
                        </div>

                        <div class="twPc-divStats">
                            <ul class="twPc-Arrange">
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="" title="{{listCours.length}} cours">
                                        <span class="twPc-StatLabel twPc-block">Cours</span>
                                        <span class="twPc-StatValue text-primary">{{listCours.length}}</span>
                                    </a>
                                </li>
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="" title="{{lecturesTotal}} lectures">
                                        <span class="twPc-StatLabel twPc-block">Lectures</span>
                                        <span class="twPc-StatValue text-primary">{{lecturesTotal}}</span>
                                    </a>
                                </li>
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="" title="Moyenne de {{average}}/5">
                                        <span class="twPc-StatLabel twPc-block">Note moyenne</span>
                                        <span class="twPc-StatValue text-primary">{{average}}/5</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="twPc-Arrange">
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="" ng-if="profile.scolaire.classe">
                                        <span class="text-primary">{{etablissement.appellation_officielle | uppercase }} - {{profile.scolaire.classe | uppercase}} {{profile.scolaire.numero_classe}}</span>
                                        <br><span class="text-primary">{{etablissement.localite_acheminement_uai | uppercase}}</span>
                                    </a>
                                    <a href="" class="text-primary" ng-if="!profile.scolaire.classe">
                                        Aucune information scolaire renseignée
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip({
            'placement': 'top'
        });
    </script>
</section>
