<section id="recherche" class="mg-top-40">
    <div class="container">
        <div class="row" id="dataResult">
            <div class="col-md-12">
                <div ng-show="result" class="item-cours" ng-repeat="cours in result | orderBy:'-lectures'">
                    <a href="#profil/{{cours.auteur}}"><img class="cours-avatar img-circle" width="35px" height="35px" ng-src="https://revizone.fr:8089/public/{{cours.auteur}}.png" /></a>
                    <a href="#profil/{{cours.auteur}}">@{{cours.auteur}}</a>
                    <p>
                        <a href="#cours/{{cours._id}}" style="color: inherit">
                            <strong>{{cours.matiere}}</strong> - {{cours.titre}}
                        </a>
                        <br>
                        <i class="cours-titre">{{cours.chapitre}}</i>
                    </p>
                </div>
                <center ng-hide="result.length < 1 || numberOfPages() === 1 || !result">
                    <ul class="pagination">
                        <li ng-class="{'disabled': currentPage === 1}"><a ng-click="searchLess()" href="">&laquo;</a></li>
                        <li ng-class="{'active': currentPage === n}" ng-repeat="n in [] | range:numberOfPages() +1"><a href="" ng-click="rechercher(n)">{{n}}</a></li>
                        <li ng-class="{'disabled': currentPage === numberOfPages()}"><a href="" ng-click="searchMore()">&raquo;</a></li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".tagsinput").tagsinput();
    </script>
</section>
