<section id="recherche" class="mg-top-40">
    <div class="container">
        <div class="row" id="dataResult">
            <div class="col-md-12" ng-show="result.length > 0">
                <h2>Résulats: <small style="display: inline-block" ng-if="coursLength !== 0" class="text-primary">({{coursLength}} résultat<span ng-if="coursLength > 1">s</span>)</small></h2>
                <label style="margin-top: 5px">Trier par: </label>
                <select class="form-control select select-primary select-block mbl" ng-model="filter">
                      <option selected value="-average">Notation</option>
                      <option value="-createdAt">Date (récent)</option>
                      <option value="createdAt">Date (ancien)</option>
                      <option value="-lectures">Lectures</option>
                </select>
                <div class="item-cours" ng-repeat="cours in result | orderBy:filter">
                    <a href="#profil/{{cours.auteur}}"><img class="cours-avatar img-circle" width="35px" height="35px" ng-src="https://revizone.fr:8089/public/{{cours.auteur}}.png" /></a>
                    <a href="#profil/{{cours.auteur}}">@{{cours.auteur}}</a>
                    <p style="margin-bottom: 5px !important">
                        <a href="#cours/{{cours._id}}" style="color: inherit">
                            <strong>{{cours.matiere}}</strong> - {{cours.titre}}<span style="float: right" class="badge btn-inverse">Lu {{cours.lectures}} fois</span>
                        </a>
                        <br>
                        <i class="cours-titre">{{cours.chapitre}}</i>
                        <div style="display: inline; float: right" ng-repeat="star in getNumber(cours.average) track by $index">
                            <i class="fa fa-star text-primary"></i>
                        </div>
                        <div class="bottom-comment">
                            {{cours.createdAtDate}}
                        </div>

                    </p>
                </div>
                <center ng-hide="result.length < 1 || numberOfPages() === 1 || !result">
                    <ul class="pagination">
                        <li ng-class="{'disabled': currentPage === 1}"><a ng-click="searchLess()" href="">&laquo;</a></li>
                        <li ng-class="{'active': currentPage === n}" ng-repeat="n in [] | range:numberOfPages() +1"><a href="" ng-click="rechercher(n)">{{n}}</a></li>
                        <li ng-class="{'disabled': currentPage === numberOfPages()}"><a href="" ng-click="searchMore()">&raquo;</a></li>
                    </ul>
                </center>
            </div>
            <div class="col-md-12">
                <div ng-show="!result || result.length < 1">
                    <center>
                        <i class="fa fa-frown-o fa-5x"></i>
                        <br> Aucun résultat correspondant à cette recherche.
                        <br>
                        <a href="#/rediger">Rédiger le cours manquant <i class="fa fa-smile-o"></i></a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".tagsinput").tagsinput();
        $("select").select2();
    </script>
</section>
