<section id="register">
    <div class="container">
        <div class="row">
            <!-- <form id="infosperso" class="form-horizontal" ng-submit="signup()">
                <div class="col-md-8 col-centered col-sm-12">
                    <div class="well border rounded animated pulse">
                        <h3>Informations <span class="text-primary">personnelles</span></h3>
                        <fieldset>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="inputPrenom">Prénom et nom:</label>
                                    <input autocomplete="off" type="text" class="form-control" ng-model="userInfos.name" id="inputNom" placeholder="Prénom et nom" required>
                                </div>
                            </div>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="inputEmail">Adresse email:</label>
                                    <input required type="text" class="form-control" ng-model="userInfos.email" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="inputPseudo">Pseudonyme:</label>
                                    <input autocomplete="off" type="text" class="form-control" ng-model="userInfos.pseudo" id="inputPseudo" placeholder="Pseudo" required>
                                </div>
                            </div>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="inputPassword">Mot de passe:</label>
                                    <input autocomplete="off" type="password" class="form-control" id="inputPassword" ng-model="userInfos.password" placeholder="Mot de passe" required>
                                </div>
                            </div>
                            <input type="checkbox" required> J'accepte les <a href="#cgu" target="_blank">Conditions Générales d'Utilisation</a>.
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-3 col-centered col-md-offset-1 col-sm-12">
                    <div class="well border rounded animated pulse">
                        <h3>Informations <span class="text-primary">scolaires</span></h3>
                        <fieldset>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="inputCodePostal">Code postal:</label>
                                    <input autocomplete="off" ng-change="checkIfReady()" type="number" class="form-control" ng-model="userInfos.codepostal" id="inputCodePostal" placeholder="Code postal" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        type="number" maxlength="5" minlength="4" required>
                                </div>
                            </div>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="inputPatronyme">Nom de l'établissement:</label>
                                    <select ng-disabled="!userInfos.codepostal" class="form-control" ng-model="userInfos.etablissement" id="select" required>
                                            <option value=''>Choisir</option>
                                            <option value='{{etablissement.numero_uai}}' ng-repeat="etablissement in etablissements | orderBy:'appellation_officielle'">{{ etablissement.appellation_officielle}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="inputClasse">Classe:</label>
                                    <select class="form-control" id="inputClasse" ng-model="userInfos.classe" required>
                                            <option value=''>Classe</option>
                                            <option value='{{classe}}' ng-repeat="(classe, key) in programme">{{classe}}</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group has-primary">
                                <div class="col-md-12">
                                    <label for="inputClasse">Numéro de classe:</label>
                                    <select class="form-control" id="inputClasse" ng-model="userInfos.numero_classe" required>
                                            <option value=''>Numéro de classe</option>
                                            <option ng-repeat="n in [] | range:16" value='{{n}}'>N°{{ n }}</option>
                                        </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="container-fluid form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 10px">S'inscrire</button>
                    </div>
                </div>
            </form> -->

            <div class="col-md-6 col-center-block col-sm-12">
                <form autocomplete="off" ng-submit="signup()">
                    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                    <div class="login-form" style="margin-top: 25%">
                        <h3 class="text-primary">Inscription</h3>
                        <div class="form-group">
                            <input required type="text" class="form-control login-field" value="" ng-model="userInfos.name" placeholder="Nom et prénom" id="login-name">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="form-group">
                            <input required type="text" class="form-control login-field" value="" ng-model="userInfos.pseudo" placeholder="Pseudo" id="login-pseudo">
                            <label class="login-field-icon fui-user" for="login-email"></label>
                        </div>

                        <div class="form-group">
                            <input required type="email" class="form-control login-field" value="" ng-model="userInfos.email" placeholder="Email" id="login-email">
                            <label class="login-field-icon fui-mail" for="login-email"></label>
                        </div>

                        <div class="form-group">
                            <input required type="password" class="form-control login-field" value="" ng-model="userInfos.password" placeholder="Mot de passe" id="login-pass">
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>
                        <label class="checkbox" for="checkbox1">
                            <input required type="checkbox" value="" id="checkbox1" data-toggle="checkbox" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                             <span class="text-primary">J'accepte les </span><a href="#cgu" target="_blank">Conditions Générales d'Utilisation</a>.
                        </label>

                        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="login()" href="">S'inscrire</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
<script type="text/javascript">
    $('.checkbox').radiocheck();
</script>
<!-- <div ng-include="'partials/footer.html'"></div> -->
