<section id="liste">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-12">
                    <span style="position: absolute; padding: 12px 14px" class="label label-primary">{{cours.classe}}</span>
                    <center>
                        <h3 style="width: 80%" class="text-center text-danger"><u><b>{{cours.matiere}} :</b> {{cours.titre}}</u> <i ng-if="cours.public == false" class="text-primary fa fa-lock ico-r"></i></h3></center>
                    <center>
                        <h4 class="text-center text-success"><u>{{cours.chapitre}}</u></h4></center>
                    <div style="background-color: white; color: #2c3e50; margin-bottom: 20px;" class="animated fadeInUp">
                        <div class="row">
                            <div id="editor-container" style="height: 700px; resize: vertical; overflow-x: hidden; background-color: white"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-info animated slideInRight">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informations</h3>
                    </div>
                    <div class="panel-body">
                        Rédigé par <a class="text-info" href="#profil/{{cours.auteur}}">@{{cours.auteur}}</a>
                        <br> Classe: <span class="text-info">{{cours.classe}}</span>
                        <br> Matière: <span class="text-info">{{cours.matiere}}</span>
                        <br> Titre: <span class="text-info">{{cours.titre}}</span>
                        <span ng-if="cours.chapitre !== null"><br> Chapitre: <span class="text-info">{{cours.chapitre}}</span></span>
                        <br> Lecture<span ng-if="cours.lectures > 1">s</span>: <span class="text-info">{{cours.lectures}}</span>
                        <br> <a href="" title="Exporter en PDF" ng-click="export('pdf')" style="color: inherit"><i class="fa fa-file-pdf-o"></i></a>
                        <a href="" title="Exporter en HTML" ng-click="export('html')" style="color: inherit"><i class="fa fa-html5"></i></a>
                        <a href="" title="Exporter en texte" ng-click="export('raw')" style="color: inherit"><i class="fa fa-file-text-o"></i></a>
                        <a ng-show="showAudio" title="Lire" href="" ng-click="export('audio')" style="color: inherit"><i class="fa fa-volume-up"></i></a>
                        <a ng-show="showPause" href="" ng-click="pauseAudio()" style="color: inherit"><i class="fa fa-pause"></i></a>
                        <a ng-show="showResume" href="" ng-click="resumeAudio()" style="color: inherit"><i class="fa fa-play"></i></a>
                        <a ng-hide="showAudio" href="" ng-click="cancelAudio()" style="color: inherit"><i class="fa fa-stop"></i></a>

                        <select class="form-control" id="voiceSelect">
                            <option value="French Female">Français</option>
                            <option ng-repeat="voice in responsiveVoices | orderBy:'name'">{{voice.name}}</option>
                        </select> Partager:
                        <a href="" socialshare socialshare-provider="twitter" socialshare-text="Apprenez le cours de @{{cours.auteur}}: {{cours.matiere}} - {{cours.titre}}" socialshare-hashtags="ReviZone" socialshare-url="http://www.revizone.fr/#/cours/{{cours._id}}" style="color: inherit"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="" socialshare socialshare-provider="facebook" socialshare-text="Apprenez le cours de @{{cours.auteur}}: {{cours.matiere}} - {{cours.titre}}" socialshare-url="http://www.revizone.fr/#/cours/{{cours._id}}" style="color: inherit"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="" socialshare socialshare-provider="pinterest" socialshare-text="Apprenez le cours de @{{cours.auteur}}: {{cours.matiere}} - {{cours.titre}}" socialshare-url="http://www.revizone.fr/#/cours/{{cours._id}}" style="color: inherit"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="" socialshare socialshare-provider="google" socialshare-text="Apprenez le cours de @{{cours.auteur}}: {{cours.matiere}} - {{cours.titre}}" socialshare-url="http://www.revizone.fr/#/cours/{{cours._id}}" style="color: inherit"><i class="fa fa-google-plus fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-warning animated slideInRight">
                    <div class="panel-heading">
                        <h3 class="panel-title">Noter</h3>
                    </div>
                    <div class="panel-body">
                        <center>
                            <div class="stars" ng-show="isAuthenticated()">
                                <form>
                                    <input ng-click="rate(5)" class="star star-5" id="star-5" type="radio" name="star" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input ng-click="rate(4)" class="star star-4" id="star-4" type="radio" name="star" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input ng-click="rate(3)" class="star star-3" id="star-3" type="radio" name="star" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input ng-click="rate(2)" class="star star-2" id="star-2" type="radio" name="star" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input ng-click="rate(1)" class="star star-1" id="star-1" type="radio" name="star" />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                            <div ng-show="!isAuthenticated()">
                                <p>
                                    Merci de vous <a href="#connexion">connecter</a> pour noter ce cours.
                                </p>
                            </div>
                        </center>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="animated slideInRight">
                    <a style="width: 100%; margin-bottom: 5px" class="btn btn-info" href="#cours/{{cours._id}}/quiz">Quiz <i class="fa fa-question-circle-o ico-r"></i></a>
                    <div ng-show="cours.auteur === user.pseudo">
                        <a style="width: 100%; margin-bottom: 5px" class="btn btn-warning" href="#cours/{{cours._id}}/modifier">Modifier ce cours <i class="fa fa-pencil ico-r"></i></a>
                        <a style="width: 100%" class="btn btn-danger" href="" ng-click="delete()">Supprimer ce cours <i class="fa fa-trash-o ico-r"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var toolbarOptions = [];

        var quill = new Quill('#editor-container', {
            theme: 'snow', // or 'bubble'
            readOnly: true,
            modules: {
                formula: true,
                toolbar: false
            }
        });
    </script>
</section>
