<section id="redigerExercice">
    <div class="container  animated pulse">
        <div class="row">
            <div class="col-md-12">
                <h1>Rédiger des exercices</h1>
            </div>
        </div>
        <div class="row">
            <div class="newExercice" ng-repeat="exercice in exercices track by $index">
                <div class="col-md-6 col-sm-12">
                    <input type="text" ng-model="exercice.question" placeholder="Question de l'exercice" class="form-control">
                </div>
                <div class="col-md-5 col-sm-12">
                    <input type="text" ng-model="exercice.reponse" placeholder="Réponse de l'exercice" class="form-control">
                </div>
                <div class="col-md-1" style="margin-bottom: 10px">
                    <button class="btn btn-danger circle img-circle" ng-disabled="exercices.length == 1" ng-click="$parent.removeExercice(exercice.id, exercice.question)"><i style="margin: 0"class="fa fa-minus"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success" ng-disabled="!exercices[exercices.length -1].question || !exercices[exercices.length -1].reponse" ng-click="addExercice({id: exercices.length, question: '', reponse: ''})"><i style="margin: 0" class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button ng-click="saveExercices()" style="margin-top: 25px" class="btn btn-success">Enregistrer <span ng-if="exercices.length == 1">mon</span><span ng-if="exercices.length > 1">mes</span> exercice<span ng-if="exercices.length > 1">s</span></button>
            </div>
        </div>
    </div>
</section>
