<section id="new" class="mg-top-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1>Rédiger un cours</h1>
            </div>
        </div>
        <form name="nouveauForm">
            <!-- Create the toolbar container -->
            <div class="row">
                <div class="col-md-9" style="margin-bottom: 15px">
                    <div style="background-color: #fff; color: #2c3e50;">
                        <div id="editor-container" style="min-height: 450px; resize: vertical; overflow-x: hidden;"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="share mrl">
                        <ul>
                            <li>
                                <div class="form-group has-primary">
                                    <select required class="form-control select select-primary select-block mbl" id="classe" ng-model="matieres" ng-options="classe for (classe, matiere) in programme">
                                        <option value=''>Classe</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="form-group has-primary">
                                    <select required class="form-control select select-primary select-block mbl" id="matiere" ng-disabled="!matieres" ng-model="chapitres" ng-options="matiere for (matiere, chapitre) in matieres">
                                            <option value=''>Matière</option>
                                        </select>
                                </div>
                            </li>
                            <li>
                                <div class="form-group has-primary">
                                    <select required class="form-control select select-primary select-block mbl" id="chapitre" ng-disabled="!chapitres || !matieres" ng-model="chapitre" ng-options="chapitre for chapitre in chapitres">
                                            <option value=''>Chapitre <small>(facultatif)</small></option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="form-group" style="margin-bottom: 5px">
                                    <input required type="text" class="form-control" id="titre" placeholder="Titre de la leçon" ng-model="titre">
                                </div>
                            </li>
                            <li>
                                <label class="checkbox" for="checkbox1">
                                    <input type="checkbox" ng-model="isPrivate" value="" id="checkbox1" data-toggle="checkbox" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                                  Cours privé  <i class="fa fa-lock ico-r"></i>
                                </label>
                            </li>
                        </ul>
                        <a href="" ng-click="save('quit')" class="btn btn-primary btn-block btn-large">Enregistrer</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block', 'image', 'formula'],
            [{
                'list': 'ordered'
            }, {
                'list': 'bullet'
            }], // superscript/subscript
            [{
                'direction': 'rtl'
            }],
            [{
                'font': []
            }], // custom dropdown
            [{
                'header': [1, 2, 3, 4, 5, 6, false]
            }],

            [{
                'color': []
            }, {
                'background': []
            }], // dropdown with defaults from theme

            [{
                'align': []
            }],
            [{
                'script': 'sub'
            }, {
                'script': 'super'
            }]
        ];
        var quill = new Quill('#editor-container', {
            modules: {
                formula: true,
                toolbar: toolbarOptions
            },
            placeholder: 'Ecris ton cours...',
            theme: 'snow' // or 'bubble'
        });
        $('.ql-toolbar').append(
            `<a style="color: inherit" ng-click="fromPicture()" href="">Depuis une image</a><input ng-file-select="onFileSelect($files)" type="file" id="file" name="file" accept="image/x-png,image/gif,image/jpeg" style="visibility: hidden; width: 1px; height: 1px" />`
        )
        $('select').select2();
        $('#check1').radiocheck();
    </script>
</section>
