<div id="home" style="height: 100%">
    <div class="img-header-1">
        <div class="caption">
            <span style="font-size: 30px; color: #2c3e50"><h3>PROGRESSEZ À L'ÉCOLE GRÂCE À</h3></span>
        </div>
        <div class="caption" style="margin-top: 75px">
            <span class="text-border" style="font-size:25px">REVIZONE.FR</span><br>
        </div>
    </div>
    <div style="text-align:center;padding:50px 50px">
        <center>
            <h1 style="margin-bottom: 20px"><strong>PROGRESSEZ À L'ÉCOLE GRÂCE À REVIZONE</strong></h1>
            <h3><strong>J'APPRENDS</strong></h3>
            <p>
                <strong>ReviZone</strong> vous permet d'apprendre mieux vos cours en les réécrivant, les relisant, et les réécoutant!
            </p>
            <h3><strong>JE M'ENTRAINE</strong></h3>
            <p>
                Vérifiez vos acquis grâce aux quiz et exercices rédigés par la communauté ou par <strong>ReviZone</strong>!
            </p>
            <h3><strong>JE RESTE INFORMÉ</strong></h3>
            <p>
                Les cours d'un élève vous plaisent ? <strong>Suivez</strong> le pour accéder à tous ses cours rapidement!
            </p>
        </center>
    </div>
    <div class="img-header-2">
        <div class="caption-center">
            <a href="#inscription" class="btn btn-success animated infinite pulse" style="font-size:120%;">JE M'INSCRIS GRATUITEMENT</a>
        </div>
    </div>
</div>
<div ng-include="'partials/footer.html'"></div>
