<div id="home" style="height: 100%">


    <div class="img-header-1">
        <div class="caption">
            <span style="font-size: 30px; color: #2c3e50"><h3>AMELIOREZ VOS NOTES AVEC</h3></span>
        </div>
        <div class="caption" style="margin-top: 75px">
            <span class="text-border" style="font-size:25px">REVIZONE.FR</span><br>
        </div>
    </div>
    <div style="text-align:center;padding:50px 50px">
        <center>
            <h1 style="margin-bottom: 20px"><strong>Ameliorez votre moyenne avec les autres!</strong></h1>
            <h3><strong>Apprendre</strong></h3>
            <p>
                <strong>ReviZone</strong> vous permet d'apprendre mieux vos cours en les réécrivant, les relisant, et en faisant des exercices!
            </p>
            <h3><strong>Rattraper</strong></h3>
            <p>
                Vous avez été <strong>absent</strong> quelque temps? <strong>Rattrapez</strong> vos cours en allant sur le profil d'un camarade ou simplement en <a href="#trouver">recherchant</a> votre cours manquant!
            </p>
            <h3><strong>Rester informé</strong></h3>
            <p>
                Les cours d'un élève vous plaisent ? <strong>Suivez</strong> le pour accéder à tous ses cours rapidement!
            </p>
        </center>
    </div>
    <div class="img-header-2">
        <div class="caption-center">
            <a href="#inscription" class="btn btn-success" style="font-size:120%;">JE M'INSCRIS GRATUITEMENT</a>
        </div>
    </div>
</div>
<div ng-include="'partials/footer.html'"></div>
