<section id="home" class="home">
    <div class="container-fluid bg-primary home-main-container">
        <div class="row">
            <div class="col-md-10 col-center-block">
                <div class="text-center">
                    <h2>PROGRESSEZ AVEC REVIZONE!</h2>
                    <h4>Partagez vos cours avec des milliers d'autres élèves!</h4>
                    <a class="btn btn-inverse btn-large btn-block mobile-only" href="#/inscription">Je m'inscris!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-default home-container desktop-only">
        <div class="row demo-tiles no-margin-r">
            <div class="col-md-10 col-center-block">
                <div class="col-xs-3">
                    <div class="tile">
                        <img src="./build/icons/clocks.svg" alt="Horloge" class="tile-image big-illustration">
                        <h3 class="tile-title">Rapide</h3>
                        <p>Apprenez vos leçon en un temps minime!</p>
                        <a class="btn btn-primary btn-large btn-block" href="#/inscription">Je m'inscris!</a>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="tile">
                        <img src="./build/icons/compas.svg" alt="Compas" class="tile-image">
                        <h3 class="tile-title">Simple</h3>
                        <p>Laissez-vous guider par <strong>ReviZone</strong>!</p>
                        <a class="btn btn-primary btn-large btn-block" href="#/inscription">Je m'inscris!</a>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="tile">
                        <img src="./build/icons/pencils.svg" alt="Crayons" class="tile-image">
                        <h3 class="tile-title">Collaborez!</h3>
                        <p>Partagez vos cours avec vos camarades!</p>
                        <a class="btn btn-primary btn-large btn-block" href="#/inscription">Je m'inscris!</a>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="tile tile-hot">
                        <img src="./build/icons/chat.svg" alt="Chat" class="tile-image">
                        <h3 class="tile-title">Suivez ReviZone!</h3>
                        <p>Vos commentaires nous aide beaucoup!</p>
                        <a class="btn btn-primary btn-large btn-block" href="#/inscription">Je m'inscris!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'partials/footer.html'"></div>
