<section id="home" class="mg-top-40">
    <div class="container">
        <div class="row">
            <div class="col-md-7 well">
                <center><i ng-if="!feed" class="text-center fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i></center>
                <div ng-hide="!feed || feed.length < 1" class="item-cours" ng-repeat="cours in feed | orderBy:'-createdAt'">
                    <a href="#profil/{{cours.auteur}}"><img class="cours-avatar img-circle" width="35px" height="35px" ng-src="https://revizone.fr:8089/public/{{cours.auteur}}.png" /></a>
                    <a href="#profil/{{cours.auteur}}" class="text-primary">@{{cours.auteur}}</a>
                    <p>
                        <a href="#cours/{{cours._id}}" style="color: inherit">
                            <strong>{{cours.matiere}}</strong> - {{cours.titre}}
                        </a>
                        <br>
                        <i class="cours-titre">{{cours.chapitre}}</i>
                    </p>
                </div>
                <div ng-if="feed.length < 1">
                    <center>
                        <i class="fa fa-frown-o fa-5x"></i>
                        <h3>Vous n'avez aucun fil d'actualités.</h3>
                        <a class="text-info" href="#profil/aureleoules">Commencez par me suivre! <i class="fa fa-smile-o"></i></a>
                        <center>
                </div>

            </div>
            <div class="col-md-4 col-md-push-1">
                <div class="twPc-div animated flipInY">
                    <a class="twPc-bg twPc-block"></a>
                    <div class="twPc-button">
                        <div ng-show="isAuthenticated">
                            <a ng class="label label-primary" href="#profil/{{user.pseudo}}">Voir mon profil</a>
                        </div>
                    </div>
                    <a href="" class="twPc-avatarLink">
                        <img ng-src="https://revizone.fr:8089/public/{{user.pseudo}}.png" class="twPc-avatarImg">
                    </a>
                    <div class="">

                        <div class="twPc-divUser">
                            <div class="twPc-divName">
                                <a href="#profil/{{user.pseudo}}">{{user.name}}</a>
                            </div>
                            <a href="#profil/{{user.pseudo}}">@{{user.pseudo}}</a>
                        </div>

                        <div class="twPc-divStats">
                            <ul class="twPc-Arrange">
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="" title="{{listCours.length}} cours">
                                        <span class="twPc-StatLabel twPc-block">Cours</span>
                                        <span class="twPc-StatValue text-primary">{{listCours.length}}</span>
                                    </a>
                                </li>
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="" title="{{lecturesTotal}} lectures">
                                        <span class="twPc-StatLabel twPc-block">Lectures</span>
                                        <span class="twPc-StatValue text-primary">{{lecturesTotal}}</span>
                                    </a>
                                </li>
                                <li class="twPc-ArrangeSizeFit">
                                    <a href="" title="Moyenne de {{average}}/5">
                                        <span class="twPc-StatLabel twPc-block">Note moyenne</span>
                                        <span class="twPc-StatValue text-primary">{{average}}/5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
