<body>
    <h2>Changer mon mot de passe</h2>
    <div class="form-group">
        <label for="inputOldPass">Ancien mot de passe</label>
        <input required type="password" class="form-control" ng-model="passwords.old" id="inputOldPass">
        <label for="inputNewPass">Nouveau mot de passe</label>
        <input required autocomplete="off" type="password" class="form-control" ng-model="passwords.new" id="inputNewPass">
        <label for="inputConfirmPass">Confirmation</label>
        <input required autocomplete="off" type="password" class="form-control" ng-model="passwords.confirm" id="inputConfirmPass">
        <button ng-disabled="passwords.confirm !== passwords.new || passwords.new.length < 8 || !passwords.old || !passwords.new || !passwords.confirm" ng-click="savePassword()" class="btn btn-primary" style="width: 100%; margin-top: 10px">Enregistrer mon mot de passe</button>
        <p ng-show="passwords.new.length < 8" class="small">Le nouveau mot de passe doit contenir plus de 8 lettres.</p>
        <p ng-show="passwords.confirm !== passwords.new" class="small">Les mots de passes ne sont pas identiques</p>
    </div>
</body>
<script type="text/javascript">
    window.onload = function() {
        var inputConfirmPass = document.getElementById('inputConfirmPass');
        inputConfirmPass.onpaste = function(e) {
            e.preventDefault();
        }
        var inputNewPass = document.getElementById('inputNewPass');
        inputNewPass.onpaste = function(e) {
            e.preventDefault();
        }
    }
</script>
